.outmost{
display:flex;
   justify-content: center;
}
.outer{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items:center;
 }
.container{
   display: flex;
   justify-content: center;
   align-items:center;
  width: 200px;
  height: 200px;
  border: 3px solid black;
  overflow:hidden;
}
