<label for="elemSelect">Select Pokemon: </label>
<select [(ngModel)]="nextElem" name="elemSelect" class="elemSelect">
  <option *ngFor="let elem of elems" [ngValue]="elem">{{ elem.name }}</option>
</select>
<p>Current Pokemon: {{ selectedElem.name }}</p>
<p>Next Pokemon: {{ nextElem.name }}</p>
<p>Message: {{ message }}</p>
<div class="outer">
  <div
    (@listAnimationLeave.done)="onSelectedElemChange($event)"
    [@listAnimationEnter]="selectedElem"
    [@listAnimationLeave]="nextElem"
    class="container elems"
  >
    <div *ngFor="let elem of elems">
      <div
        *ngIf="selectedElem === elem && nextElem === elem"
        class="{{ elem.name }} elem"
      >
        <img src="{{ elem.img }}" alt="{{elem.name}.png}" />
      </div>
    </div>
  </div>
</div>
