.outmost{
display:flex;
   justify-content: center;
}
.outer{
  margin:1rem;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items:center;
 }
.container{
   display: flex;
   justify-content: center;
   align-items:center;
  width: 200px;
  height: 200px;
  border: 3px solid black;
  overflow:hidden;
}
.elem{
  padding: 4rem;
}

.redElem{
  background: red;
  color:white;
}

.blueElem{
  background: blue;
  color:white;
}

.greenElem{
  background: green;
}
