<label for="elemSelect">Select elem:</label>
<select [(ngModel)]="nextElem" name="elemSelect" class="elemSelect">
  <option *ngFor="let elem of elems" [ngValue]="elem">{{ elem }}</option>
</select>
<p>selectedElem={{ selectedElem }}</p>
<p>nextElem={{ nextElem }}</p>
<p>Message: {{ message }}</p>
<div class="outer">
  <div
    (@listAnimationLeave.done)="onSelectedElemChange($event)"
    [@listAnimationEnter]="selectedElem"
    [@listAnimationLeave]="nextElem"
    class="container elems"
  >
    <div *ngFor="let elem of elems">
      <div
        *ngIf="selectedElem === elem && nextElem === elem"
        class="{{ elem }} elem"
      >
        {{ elem }}
      </div>
    </div>
  </div>
</div>
